.home-profile{
    display: flex;
    justify-content: space-between;
}
.profile-title{
    font-size: large;
    margin: 20px;
    padding: 10px;

}
.profile-title h1{
    font-weight:bolder;
    color: rgb(3, 67, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile-title h2{
    margin-top: 0px;
    font-weight:bolder;
    color: rgb(13, 9, 131);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.profile-title button{
    background-color: rgb(3, 108, 108);
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 700;
}
.profile-title button a{
    color: white;
    text-decoration: none;
}
.home-profile img{
    height: 450px;
    width: 450px;
    border-radius: 5px;
    margin: 20px;
}
.customer-reviews-title{
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: rgb(3, 93, 93);
    font-family: 'Courier New', Courier, monospace;
}

.customer-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.reviews-button-section{
    width: 100%;
    text-align: center;
}
.review-button{
    
    align-items: center;
    background-color: rgb(3, 108, 108);
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 700;
    margin: 20px 0px;
}
.review-link{
    color: aliceblue;
    text-decoration: none;
}

@media (max-width: 750px) {
    .home-profile img{
        height: 300px;
        width: 250px;
        border-radius: 5px;
        margin:50px 20px;
    }
    .profile-title h1{
        font-weight:bolder;
        font-size: 25px;
        color: rgb(3, 67, 67);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .profile-title h2{
        font-weight:bold;
        font-size: 25px;
        color: rgb(13, 9, 131);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .customer-reviews{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  }